<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 style="text-align: center;">Here is information of selected post</h1>
 <div class="show-post">
    <h2>post id : <%=post.id%></h2>  
    <h1 style="font-weight: 100;">Username : <%=post.username%></h1>
    
    <h3>Content : <%=post.content%></h3>
    
 </div>
</body>
</html>