<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <method method="POST" action="/user/new" >
        <h2>Add following detalis</h2>
        <input type="text" name="id" placeholder="id"><br><br>
        <input type="text" name="userName" placeholder="username" ><br><br>
        <input type="text" name="email" placeholder="email"><br><br>
        <input type="password" name="password"placeholder="password" ><br><br>
        <button>Submit</button>
    </form>
    
</body>
</html>