<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit msg</title>
</head>
<body>
    <h3>Hey U Can Edit Msg Here...</h3>
    <form method="post" action="/chats/">
       <textarea rows="5" cols="30"></textarea>
       <br>
        <button>Edit</button>
    </form>
</body>
</html>