<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <form method="POST" action="/chats">
        <h3>Write New Msg...</h3>
        <input type="text" placeholder="who" name="from">
        <br><br>
        <input type="text" placeholder="msg" name="msg">
        <br><br>
        <input type="text" placeholder="whom" name="to">
        <br><br>
        <button>Send</button>
    </form>
</body>
</html>